<div class="container-fluid" style="padding-top: 100px">

  <!-- Row container -->
  <div style="padding-left: 25%; padding-right: 25%">

    <!-- Title row -->
    <div class="row">
      <div class="col-sm-12">
        <h2 style="font-family: 'Encode Sans Expanded', sans-serif; font-weight: 200">
          Thanks for your order!
        </h2>
        <h4>
          A representative will contact you shortly.
        </h4>
        <h4>
          Order number: <%= @order.id %>
        </h4>
      </div>
    </div>

  </div>
  <!-- End Row container -->

</div>
<!-- End Container fluid -->
